* {
    margin:0;
    margin: auto;
    box-sizing: border-box;
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}


.offset-1 {
    margin-left: 8.33%;
    margin-right: 8.33%;
}
.offset-2 {
    margin-left: 16.66%;
    margin-right: 16.66%;
}
.offset-3 {
    margin-left: 25%;
    margin-right: 25%;
}


[class*="col-"] {
    float: left;
    padding: 15px;
  }


body {
    background-color: #313131;
    /* font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; */
    background-image: url('../img/2019-me-transparent-no-legs.png');
    background-repeat: no-repeat;
    background-position: top center;
    background-size: 300px;
    font-family: 'Courier New', Courier, monospace;
    color: white;
}

p {
    font-size: 1em;
}

div a:link, div a:visited, div a:hover, div a:active {
    color: cyan;
    text-decoration: none;
}

#coding-fay {
    height: 20vh;
    position: fixed;
    bottom:0;
    right:0;
    z-index: 10;
}

nav {
    /* position: fixed; */
    top: 0;
    left:0;
    width: 100%;
    background-color: #282828;
    padding-bottom: 10px;
    z-index: 10;
}


nav ul li, nav ul li a, .nav-left {
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-top: 6px;
    margin-right: 4px;
    text-decoration: none;
    height: 25px;
    color: #8a8a8a;
}

nav ul li a:link {
    text-decoration: none;
}

nav ul li a:visited {
    text-decoration: none;
}

nav ul li a:active, nav ul li a:hover {
    color: white;
    text-decoration: none;
}


#active {
    color: white; 
    border-bottom: #8a8a8a 1px solid;
}

#nav-right {
    position: absolute;
    top:7px;
    right:10px;
}

nav ul li select {
    background-color: #464646;
    color: white;
    margin-right: 10px;
    width: 100px;
    height: 22px;
    border:  #464646 1px solid;
    font-weight: bold;
}

.breadcrumbs {
    position: absolute;
    top: 50px;
    margin:0;
    padding:15px;
}

.text-yellow {
    color: yellow;
}

.text-blue {
    color: cyan;
}

.text-white {
    color: white;
}

.text-left {
    text-align: left;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}


h1, h2, h3 {
    font-family: 'Courier New', Courier, monospace;
}

/* h1 {
    margin-top: 300px;
} */

h1.now {
    margin-top: 50px;
}

p, h3, h4, ul.now {
    padding: 10px;
    text-align: left;
}

ul.now {
    padding-left: 50px;
}

.main-icons {
    width:50%;
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    [class*="col-"] {
      width: 100%;
    }
    [class*="offset-"] {
        margin-left: 0%;
    }
    .nav-left {
        display:none;
    }
    .breadcrumbs {
        position: absolute;
        top: 25px;
        margin:0;
        padding-left:15px;
    }
}

@media only screen and (min-width: 775px) {
    h1, h2 {
        font-size: 2em;
    }
    p {
        font-size: 1em;
    }
    .main-icons {
        width:100%;
    }
}


.text::after {
    content: "";
    margin-left: 5px;
    display: inline-block;
    background-color: #ffffff;
    width: 10px;
    height: 20px;
    -webkit-animation: blink 1s step-end infinite;
    animation: blink 1s step-end infinite;
  }
  
  @-webkit-keyframes blink {
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
  }
  
  @keyframes blink {
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
  }

.key {
    color: #919191;
    font-weight: bolder;
}

.value {
    color: #e3e3e3;
}

.timestamp, div.tags {
    padding-bottom:85px;
}

input.bottom, button.bottom, a.bottom {
    margin-bottom:85px !important;
}

textarea.now {
    height:200px;
    width:100%;
}

pre.comment {
    color: green;
}

a.delete {
    font-family: sans-serif;
    color: red !important ;
}

footer {
    text-align: right;
    position: fixed;
    width: 100%;
    height: 25px;
    bottom:0px;
    background-color: #282828;
    padding: 0px 15px;
}

footer a:link, footer a:visited, footer a:hover, footer a:active {
    color: cyan;
    text-decoration: none;
}

footer img, footer a{
    display: inline;
}

footer img {
    width: 50px; 
    height: 50px; 
    border-radius: 50%;
    border: 3px solid #282828;
    position:fixed;
    bottom:0px;
    right:10px;
}

footer a {
    position:fixed;
    bottom:5px;
    right:70px;
}

.blog-post, .blog-post p, .blog-post li, .blog-post h3, .blog-post h2 {
    text-align: left;
}

input, button {
    width:100%;
    font-family: 'Courier New', Courier, monospace;
    font-size:1.1em;
    font-weight: bolder;
}
input.btn-primary, button.btn-primary {
    background-color: #969696;
    border: 2px solid #969696;
}

input.btn-danger, button.btn-danger {
    background-color: #ff0000;
    border: 2px solid #ff0000;
}

input.btn-success, button.btn-success {
    background-color: #00ff15;
    border: 2px solid #00ff15;
}

.terminal-window {
    background-color: #282828 !important;
    position: absolute;
    top: 50%;
    left: 10%;
    height: 50%;
    width: 80%;
    margin-top: -9%;
    overflow-y: auto;
    overflow-x: hidden;
}

#result {
    display: none;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }




  .cursor{
    font-weight: 100;
    font-size: 30px;
    color: white;
    -webkit-animation: 1s blink step-end infinite;
    -moz-animation: 1s blink step-end infinite;
    -ms-animation: 1s blink step-end infinite;
    -o-animation: 1s blink step-end infinite;
    animation: 1s blink step-end infinite;
  }
  
  @keyframes "blink" {
    from, to {
      color: transparent;
    }
    50% {
        color: white;
    }
  }
  
  @-moz-keyframes blink {
    from, to {
      color: transparent;
    }
    50% {
        color: white;
    }
  }
  
  @-webkit-keyframes "blink" {
    from, to {
      color: transparent;
    }
    50% {
        color: white;
    }
  }
  
  @-ms-keyframes "blink" {
    from, to {
      color: transparent;
    }
    50% {
        color: white;
    }
  }
  
  @-o-keyframes "blink" {
    from, to {
      color: transparent;
    }
    50% {
        color: white;
    }
  }